@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

.admin-login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to right, #111, #222);
  color: #f2f2f2;
}

.admin-login-form {
  background-color: #1c1c1c;
  padding: 2.5rem;
  border-radius: 12px;
  box-shadow: 0 0 25px rgba(255, 0, 0, 0.2);
  width: 350px;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
}

.btn-cambiar-foto {
  display: inline-block;
  margin-top: 10px;
  background-color: #4b8ef1;
  color: white;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.3s ease;
}

.btn-cambiar-foto:hover {
  background-color: #376fd3;
}
  

.admin-login-form h2 {
  margin-bottom: 1.5rem;
  font-size: 1.4rem;
  color: #ff3c3c;
}

.admin-input {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 6px;
  background-color: #2b2b2b;
  color: #fff;
  font-size: 1rem;
  transition: 0.2s;
}

.admin-input::placeholder {
  color: #aaa;
}

.admin-input:focus {
  outline: none;
  background-color: #333;
  border: 1px solid #ff3c3c;
}

.btn-gym {
  background-color: #ff3c3c;
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  transition: background 0.3s ease;
}

.btn-gym:hover {
  background-color: #ff0000;
}

.error-message {
  color: #ff6b6b;
  margin-bottom: 1rem;
  font-size: 0.9rem;
}
